.imghead{
    /*background-image: url("/static/images/we.jpg");*/
    background:linear-gradient(15deg,#18bc9c,#000000 );
    width: 100%;
    height:70%;
    max-width: 100%;
    display: block;
    margin-top:5%;
    background-repeat:no-repeat;
    background-size: 75%;
    background-attachment: local;
    background-position:center center;
    border-radius:5%;



}
.indhead{
    text-align:left;
    color: #eeeeee;
    font-family: sans-serif;
    font-weight: bolder;
    padding-left:35%;
    padding-right: 20%;
    margin-top: 15%;
    font-size: 70px;
}
.head{
    text-align:center;
    color:#000000;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    font-weight: bolder;
}
.join{
    background-color: #468847;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    border-radius: 5%;
}

.subhead{

    font-family:"Droid Serif", "DejaVu Serif", "STIX", serif;
    text-align: center;
    color: #000000;
    font-weight:bold;
    font-size: 20px;
}
.para{
    color: #000000;
    text-align: justify;
    font-family:"Droid Serif", "DejaVu Serif", "STIX", serif;
    font-size: 15px;
}

.fpara{
   color: #000000;
   font-family:"Droid Serif", "DejaVu Serif", "STIX", serif;
   font-weight: normal;
   text-align: center;

}
.cpara{
   color: #eeeeee;
   font-family:"Droid Serif", "DejaVu Serif", "STIX", serif;
   font-weight: normal;
   text-align: center;

}

.footer{
    background-color:#009871 ;
    transition: background-color 0.5s ease;
    color: black;
    font-weight: bold;


}

.fa{
    color: black;

}
.bg{
    background:white;
}

.content{
    text-align: center;
    font-size: large;
    padding-bottom: 3%;

}
.contact{

   text-align: center;
    color:white;

}
.fa-2x{
    color: black;
}
.chead{
    text-align:center;

    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    font-weight: bolder;
}

#googleMap{


    left: 0px;
    top: 0px;
    z-index: 1;
    width:100%;
    height:100%;
    margin-bottom: 20px;
}

#contactform{
    color:white;
    background: linear-gradient(25deg, #1b6d85,#18bc9c );
    margin-top: 10px;
}
.control-label{
    font-weight:bolder;
}

.subject{
    color: #000000;
}
.form-control, input{
    border-width: 0px;
}
p{
    text-align: justify;
}

@media only screen and (max-width:768px){
    .indhead{
      font-size: 40px;
      font-family: sans-serif;
      font-weight: bolder;
      padding-left:30%;
      padding-right: 20%;
      margin-top: 35%;
    }
}



