{% extends 'base.html' %}
{% block content %}


<div class="row col-lg-12  imghead ">
<h1 class="indhead">We are social</h1>

</div>
    <div class="container">
    <div class="row col-lg-8 col-lg-offset-2">
        <h2 class="head">
            We focus on your success!
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn btn-info">Thanks for Joining!</a>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-success">Join Us!</a>
            {% endif %}
        </h2>
    <br>
    </div>



<section class="container">

    <div class="col-lg-4">
    <h4 class="subhead"><b>What is Social Brands</b></h4>
    <p class="para">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
    </p>
    </div>
    <div class="col-lg-4">
    <h4 class="subhead"><b>What is Social Thinking</b></h4>
    <p class="para">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
    </p>
    </div>
    <div class="col-lg-4">
    <h4 class="subhead"><b>Value of Social Thinking </b></h4>
    <p class="para">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.

    </p>
    </div>
</section>
</div>



{% endblock %}
